<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
	<body class="body-content">
		<aside>
			<div class="avatar">
				<img src="/assets/magnus.jpeg" alt="Magnus Åsrud">
			</div>
			<h1 class="text-center">Magnus Åsrud</h1>
			<p class="text-center">Senior Systems Developer</p>

			<div class="socials">
				<h2 class="text-center">Socials</h2>
				<div class="socials-links">
					<a href="https://github.com/CodeGradox/">Githhub</a>
					<a href="https://www.linkedin.com/in/magnus-%C3%A5srud/">LinkedIn</a>
				</div>
			</div>
		</aside>
		<main>
			<h1>Welcome to the Home Page!</h1>
		</main>
	</body>
</html>
